.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#content {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #DDDBDB;
  color: #FAF9F9;
  transition: all 0.4s;
  text-align: center;
}

#sidebar .sidebar-title {
    padding: 20px;
    background: #c3c3c5;
}

#sidebar.active {
  margin-left: -250px;
}

button {
  width: 20%;
  padding: 5px;
  margin: 5px;
  color: white;
  font-size: 17px;
  border: 1px solid #525252;
  cursor: pointer;
}
input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #464545;
  margin: 5px;
  width: 93.5%;
  background: #f1f1f1;
}
#places-list {
  background-color:#3E5A83;
  font-size: 17px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}
.content {
  background-color: #8A8A8A
}

h3 {
  color: #2C2B2B;
  font-size: 28px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.navbar {
  background: #DDDBDB
}

.info-photo {
  width: 180px;
  height: 150px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-title {
  /* text-align: left; */
  letter-spacing: 1px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

}

.info-phone {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.info-address {
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

#infoWindow {
  width: 200px;
  height: 340px;
}

.toggle {
  background-color: #4971AD
}

/*Media queries*/

@media screen and (min-width: 501px) and (max-width: 768px) {
  #sidebar {
    min-width: 220px;
    max-width: 220px;
  }
  h3 {
    font-size: 22px;
  }

  #places-list {
    font-size: 14px;
  }

  input {
    font-size: 16px;
  }

  span {
    font-size: 11px;
  }

  .toggle {
    margin-left: 20px
  }
}

@media screen and (min-width: 455px) and (max-width: 500px) {
  #sidebar {
    min-width: 180px;
    max-width: 180px;
  }

  h3 {
    font-size: 18px;
  }

  #places-list {
    font-size: 12px;
  }

  #places-list {
    font-size: 12px;
  }

  span {
    font-size: 8px;
  }

  .toggle {
    margin-left: 20px
  }
}

@media screen and (min-width: 360px) and (max-width: 455px) {
  #sidebar {
    min-width: 160px;
    max-width: 160px;
  }

  h3 {
    font-size: 18px;
  }

  #places-list {
    font-size: 12px;
  }

  #places-list {
    font-size: 12px;
  }

  span {
    font-size: 5px;
  }

  .toggle {
    margin-left: 20px
  }
}