.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#content {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: rgb(221, 219, 219);
  color: rgb(250, 249, 249);
  transition: all 0.4s;
  text-align: center;
}

#sidebar .sidebar-title {
    padding: 20px;
    background: #c3c3c5;
}

#sidebar.active {
  margin-left: -250px;
}

button {
  width: 20%;
  padding: 5px;
  background: rgb(53, 172, 202);
  margin: 5px;
  color: white;
  font-size: 17px;
  border: 1px solid rgb(82, 82, 82);
  cursor: pointer;
}
input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(70, 69, 69);
  margin: 5px;
  width: 93.5%;
  background: #f1f1f1;
}
#places-list {
  background-color:rgb(42, 91, 163);
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}
.content {
  background-color: rgb(138, 138, 138);
}

h3 {
  color: rgb(44, 43, 43);
  font-size: 28px;
}

.navbar {
  background: rgb(221, 219, 219);
}

.info-photo {
  width: 205px;
  height: 170px;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.info-title {
  text-align: left;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;

}

.info-phone {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.info-address {
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
}

.info-description {
  margin-left: 8px;
}

/*Media queries*/

@media screen and (min-width: 501px) and (max-width: 768px) {
  #sidebar {
    min-width: 220px;
    max-width: 220px;
  }
  h3 {
    font-size: 22px;
  }

  #places-list {
    font-size: 14px;
  }

  input {
    font-size: 16px;
  }

  .toggleSidebarButton {

  }
  
}

@media screen and (max-width: 500px) {
  #sidebar {
    min-width: 180px;
    max-width: 180px;
  }

  h3 {
    font-size: 18px;
  }

  #places-list {
    font-size: 12px;
  }

  input {
    font-size: 14px;
  }

  .toggleSidebarButton {
    
  }
}